:root {
  --default-background: #101010;
  --default-foreground: #d0d0d0;
  --default-current-line: #505050;
  --default-comment: #f4bf75;
  --default-black: #181818;
  --default-red: #ac4142;
  --default-orange: #ffb86c;
  --default-yellow: #f4bf75;
  --default-green: #90a959;
  --default-purple: #aa759f;
  --default-cyan: #6a9fb5;
  --default-pink: #ff79c6;
  --default-bright-cyan: #75b5aa;

  /* Generic */
  --tridactyl-font-family: Iosevka JP;
  --tridactyl-font-family-sans: Iosevka JP;
  --tridactyl-font-size: 11px;
  --tridactyl-small-font-size: 11px;
  --tridactyl-bg: var(--default-background);
  --tridactyl-fg: var(--default-foreground);
  --tridactyl-scrollbar-color: auto;

  /* Mode Indicator */
  --tridactyl-status-font-family: var(--tridactyl-font-family);
  --tridactyl-status-font-size: var(--tridactyl-small-font-size);
  --tridactyl-status-bg: none;
  --tridactyl-status-fg: var(--default-foreground);
  --tridactyl-status-border: 0;
  --tridactyl-status-border-radius: 6px;

  /* Hint Character Tags */
  --tridactyl-hintspan-font-family: var(--tridactyl-font-family);
  --tridactyl-hintspan-font-size: var(--tridactyl-small-font-size);
  --tridactyl-hintspan-font-weight: bold;
  --tridactyl-hintspan-fg: var(--default-black);
  --tridactyl-hintspan-bg: var(--default-cyan);
  --tridactyl-hintspan-border-width: 0;
  --tridactyl-hintspan-js-background: var(--default-red);

  /* Hint Element Highlights */
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: 0;
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: 0;

  /* :viewsource */
  --tridactyl-vs-bg: var(--default-black);
  --tridactyl-vs-fg: var(--default-comment);
  --tridactyl-vs-font-family: var(--tridactyl-font-family);

  /* Commandline */
  --tridactyl-cmdl-bg: var(--default-background);
  --tridactyl-cmdl-fg: var(--default-foreground);
  --tridactyl-cmdl-line-height: 1.6;
  --tridactyl-cmdl-font-family: Hack Nerd Font;
  --tridactyl-cmdl-font-size: var(--tridactyl-small-font-size);

  /* Completions */
  --tridactyl-cmplt-option-height: 1.4em;
  --tridactyl-cmplt-fg: var(--default-foreground);
  --tridactyl-cmplt-bg: var(--default-background);
  --tridactyl-cmplt-font-size: var(--tridactyl-small-font-size);
  --tridactyl-cmplt-font-family: Iosevka JP;
  --tridactyl-cmplt-border-top: 0;

  /* Header */
  --tridactyl-header-first-bg: var(--default-black);
  --tridactyl-header-second-bg: var(--default-black);
  --tridactyl-header-third-bg: var(--default-black);
  --tridactyl-header-font-size: inherit;
  --tridactyl-header-font-weight: normal;
  --tridactyl-header-border-bottom: 0;

  /* URL Style */
  --tridactyl-url-text-decoration: none;
  --tridactyl-url-fg: var(--default-green);
  --tridactyl-url-bg: none;
  --tridactyl-url-cursor: pointer;

  /* Handle the selected URL's color */
  --tridactyl-photon-colours-accent-1: var(--default-green);

  /* Option Focused */
  --tridactyl-of-fg: var(--default-foreground);
  --tridactyl-of-bg: var(--default-current-line);

  /* New Tab Page Spoiler Box (Changelog) */
  --tridactyl-highlight-box-bg: var(--default-black);
  --tridactyl-highlight-box-fg: var(--default-comment);
  --tridactyl-photon-colours-in-content-box-border-color: var(--default-black) !important;

  /* Private Window Icon */
  --tridactyl-private-window-icon-url: url("chrome://browser/skin/privateBrowsing.svg");

  /* Container Icons */
  --tridactyl-container-fingerprint-url: url("resource://usercontext-content/fingerprint.svg");
  --tridactyl-container-briefcase-url: url("resource://usercontext-content/briefcase.svg");
  --tridactyl-container-dollar-url: url("resource://usercontext-content/dollar.svg");
  --tridactyl-container-cart-url: url("resource://usercontext-content/cart.svg");
  --tridactyl-container-circle-url: url("resource://usercontext-content/circle.svg");
  --tridactyl-container-gift-url: url("resource://usercontext-content/gift.svg");
  --tridactyl-container-vacation-url: url("resource://usercontext-content/vacation.svg");
  --tridactyl-container-food-url: url("resource://usercontext-content/food.svg");
  --tridactyl-container-fruit-url: url("resource://usercontext-content/fruit.svg");
  --tridactyl-container-pet-url: url("resource://usercontext-content/pet.svg");
  --tridactyl-container-tree-url: url("resource://usercontext-content/tree.svg");
  --tridactyl-container-chill-url: url("resource://usercontext-content/chill.svg");

  /* Container Colors */
  --tridactyl-container-color-blue: var(--default-cyan);
  --tridactyl-container-color-turquoise: var(--default-bright-cyan);
  --tridactyl-container-color-green: var(--default-green);
  --tridactyl-container-color-yellow: var(--default-yellow);
  --tridactyl-container-color-orange: var(--default-orange);
  --tridactyl-container-color-red: var(--default-red);
  --tridactyl-container-color-pink: var(--default-pink);
  --tridactyl-container-color-purple: var(--default-purple);
}

/*
# Private Windows

Mode Indicator: This has a white background by default, which didn't work so
well with the default foreground color (#f8f8f2).

Icon Color: The default black SVG icon color doesn't contrast enough with the
default background color.
*/

.TridactylPrivate {
  background: none !important;
}

.TridactylOwnNamespace .option.incognito .privatewindow {
  fill: var(--default-comment) !important;
}

/*
# Tridactyl New Tab Page

Remove the red and green backgrounds from the changelog button/toggle.

> According to ScreenRant, Craven landed on the color scheme after reading in a
> scientific article that humans have an especially hard time processing the
> colors red and green together. As Live Science explains, red light causes
> retinal cells called opponent neurons to fire—thus alerting our brain that
> we’re seeing red—while green light doesn’t cause them to do anything (a lack
> of motion that our brain knows to perceive as green). Since these actions
> cancel each other out, seeing certain shades of red and green simultaneously
> can be a little optically confusing (Gutoskey).

---
Gutoskey, Ellen. “The Smart—and Scientific—Reason Freddy Krueger’s
  Sweater Is Red and Green-Striped.” Mental Floss, 27 October 2020,
  https://www.mentalfloss.com/article/633068/why-freddy-krueger-wears-red-and-green.
*/

#trinewtab #nagbar-changelog {
  background: var(--default-current-line) !important;
  color: var(--default-pink) !important;
}

#trinewtab input[id^="spoiler"] + label {
  background: var(--default-comment) !important;
  color: var(--default-foreground) !important;
}

/*
# Tridactyl Help Page

Use the default color theme on the `:help` page.
*/

.TridactylOwnNamespace .tsd-flag {
  background-color: var(--default-current-line) !important;
  color: var(--default-foreground) !important;
}

.TridactylOwnNamespace .tsd-panel,
.TridactylOwnNamespace .tsd-signature,
.TridactylOwnNamespace .tsd-index-panel h3 {
  border-width: 1px !important;
  border-color: var(--default-current-line) !important;
}

.TridactylOwnNamespace .tsd-signature-symbol,
.TridactylOwnNamespace .tsd-sources {
  color: var(--default-current-line) !important;
}

.TridactylOwnNamespace .hljs-keyword {
  color: var(--default-purple) !important;
}

.TridactylOwnNamespace .hljs-string {
  color: var(--default-yellow) !important;
}

.TridactylOwnNamespace .hljs-title,
.TridactylOwnNamespace .hljs-comment {
  color: var(--default-foreground) !important;
}
